
<div class="row">
  <div class="col-md-1">
    <% @vessels.each do |vessel| %>
      <h2><%= vessel.name %></h2>
      <% vessel.operations.each do |operation| %>
        <% if operation.kind == 0 %>
          <%= link_to "#{operation.note}",operation.address, class: "btn btn-success btn-block"%>
        <% else %>
          <%= link_to "#{operation.note}", iot_image_path(:id => operation.id), class: "btn btn-info btn-block"%>
        <% end %>
      <% end %>
      <%= link_to "報告", report_path(:id => vessel.id), class: "btn btn-warning btn-block"%>
    <% end %>
  </div>
  <div class="col-md-11">
    <div id="map" style="height: 500px; width: 100% "></div>
  </div>
</div>
<script type="text/javascript">

      L.Icon.Default.imagePath = "/assets";


      var map = L.map('map').setView([34.960354, 138.405529],15);
      var osmUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
      //var osmUrl = "http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png";
      //var osmUrl = "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}";
      //var osmUrl = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
      //	maxZoom: 17,
      //	attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
      //});


      var osmAttrib = "Map data OpenstreetMap contributors";
      var greenIcon = L.icon({
          iconUrl: '<%= image_path("sbs_logo.png") %>',
          iconSize:     [75, 40], // size of the icon
          //shadowSize:   [50, 64], // size of the shadow
          //iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
          //shadowAnchor: [4, 62],  // the same for the shadow
          //popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
      });
      var imagePinIcon = L.icon({
          iconUrl: '<%= image_path("pinred.png") %>',
          iconSize:     [40, 40], // size of the icon
          //shadowSize:   [50, 64], // size of the shadow
          //iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
          //shadowAnchor: [4, 62],  // the same for the shadow
          //popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
      });

      var marker = [];
      var counter = 0;
      <% @reports.each do |report| %>
        marker[counter] = L.marker([<%=report.lat%>, <%=report.lon%>], {icon: imagePinIcon}).addTo(map);
        marker[counter].bindPopup("<%=report.content%>").openPopup();
        counter +=1;
      <% end %>

      L.tileLayer(osmUrl,{
        attribution: osmAttrib,
        maxZoom: 50,
      }).addTo(map);
      // add Marker
      $(window).on("resize", function () { $("#map").height($(window).height()-50); map.invalidateSize(); }).trigger("resize");
</script>
