<% provide(:title,"IoT") %>
<vessel>
  <div class="row">
    <div class="col-md-1 col-md-offset-4">
      <%= image_tag("ico_vessel.png", alt:"ico_title", size:"100x100", id:"ico_title") %>
    </div>
    <div class="col-md-3">
      <h1>IoTユニット</h1>
    </div>
  </div>
  <header>
  <div class="row center">
      <div class="col-md-3">
        <h3>ユニット名</h3>
      </div>
      <div class="col-md-4">
        <h3>ノート</h3>
      </div>
      <div class="col-md-2">
        <h3>作業者</h3>
      </div>
      <div class="col-md-3">
        <h3>アクション</h3>
      </div>
  </div>
  </header>
  <% @vessels.each do |vessel| %>
  <main>
    <div class="row">
      <div class="col-md-3">
        <p><%= vessel.name %></p>
      </div>
      <div class="col-md-4">
        <p><%= vessel.description %></p>
      </div>
      <div class="col-md-2">
        <p><%= vessel.user.username %></p>
      </div>
      <div class="col-md-1">
        <%= link_to '表示', vessel, class: "btn btn-success btn-sm btn-block" %>
      </div>
      <div class="col-md-1">
        <%= link_to '編集', edit_vessel_path(vessel), class: "btn btn-info btn-sm btn-block" %>
      </div>
      <div class="col-md-1">
        <%= link_to '削除', vessel, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-sm btn-block" %>
      </div>
    </div>
  </main>
  <% end %>


<br>

<%= link_to '新規ユニット', new_vessel_path, class: "btn btn-info" %>
</vessel>
