<header class="navbar navbar-fixed-top" style="background-color:#ff8c00"> <div class="container">
<%= image_tag("sbs_logo.png", alt:"logo", size:"110x40", id:"logo") %>
<%= link_to "Project Seal 静岡", root_path, id: "logo" %>
<nav>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          ツール<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "地図", map_path %></li>
          <li><%= link_to "タスク", reports_path, target: "_blank", rel: "nofollow" %></li>
          <li><%= link_to "IoT",vessels_path %></li>
          <li><%= link_to "言葉",kotobas_path %></li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to "ホーム", root_path %></li>
    <% end %>
    <li><%= link_to "ヘルプ", help_path %></li>
    <% if user_signed_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          プロフィール<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "情報編集", edit_user_registration_path, class: "nav-link" %></li>
          <li><%= link_to "API key", api_key_path, class: "nav-link" %></li>
          <li class="divider"></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "nav-link"%></li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>
</div>
</header>
