<header class="navbar navbar-fixed-top" style="background-color:#ff8c00"> <div class="container">
<%= image_tag("sbs_logo.png", alt:"logo", size:"50x40", id:"logo") %>
<%= link_to "Project Seal 静岡", root_path, id: "logo" %>
<nav>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <li><%= link_to "Log in", "#" %></li>
  </ul>
</nav>
</div>
</header>
